{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="{% url 'create_object' user_id=user_id agent_id=agent_id %}">
        {{ form.as_p }}
        <input class="login-form__submit form-button" type="submit" value="Save"/>
        {% csrf_token %}
    </form>
    <div class="form-errors">
        {% for error in errors %}
            <p style="color: var(--accent-color)">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {% if success %}
            AAA
    {% endif %}
    </div>
{% endblock content %}