{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="form-container">
        <form class="registration-form__form-signin" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="registration-form__form-content">
                <li>
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" id="surname" class="registration-form__input"
                           placeholder="Surname" required>
                </li>
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="registration-form__input"
                           placeholder="Name" required>
                </li>
                <li>
                    <label for="patronymic">Patronymic</label>
                    <input type="text" name="patronymic" id="patronymic" class="registration-form__input"
                           placeholder="Patronymic" required>
                </li>
                <li>
                    <label for="inputEmail">Email</label>
                    <input type="email" name="email" id="inputEmail" class="registration-form__input"
                           placeholder="Email address" required autofocus>
                </li>
                <li>
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" class="registration-form__input"
                           placeholder="Phone" required>
                </li>
                <li>
                    <label for="inputUsername">Username</label>
                    <input type="text" name="username" id="inputUsername" class="registration-form__input"
                           placeholder="Username" required>
                </li>
                <li>
                    <label for="inputPassword_1">Password</label>
                    <input type="password" name="password1" id="inputPassword_1" class="registration-form__input"
                           placeholder="Password" required>
                </li>
                <li>
                    <label for="inputPassword_2">Repeat Password</label>
                    <input type="password" name="password2" id="inputPassword_2" class="registration-form__input"
                           placeholder="Confirm password" required>
                </li>

            </ul>

                        {% for error in errors %}

                                    <p style="color: red">{{ error }}</p>

                        {% endfor %}
                        {% if registration_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{ registration_form.non_field_errors }}</p>
                            </div>
                        {% endif %}
            <button class="registration-form__submit" type="submit">Register</button>
        </form>
    </div>
{% endblock content %}